<div class="total">
    <div class="info">
        <h1 class="titulo">Sobre mim</h1> <p class="texto">Sou um tatuador com xx anos de experiência, com diversas formações e especializações, além de ser apaixonado pela profissão.<br>Minha missão é fazer com que seu trabalho seja único e motivo de orgulho para sempre, auxiliando na escolha da composição da arte.<br>Será um prazer fazer parte da sua história, registrando seus momentos importantes com muito respeito e profissionalismo.</p>
    </div>
    <img class="img-nicky" src="../../../assets/images/nicky-perfil.jpg" alt="Nicky">

</div>
