<div class="menu">
    <a routerLink="/sobre">
        <h2 class="link-menu"> 
            Sobre
        </h2>
    </a>
    <a routerLink="/estilos">
        <h2 class="link-menu"> 
            Estilos
        </h2>
    </a>
    <a routerLink="/trabalhos">
        <h2 class="link-menu"> 
            Trabalhos
        </h2>
    </a>
    <a routerLink="/dicas">
        <h2 class="link-menu"> 
            Dicas
        </h2>
    </a>
    <a routerLink="/orcamento">
        <h2 class="link-menu"> 
            Orçamento
        </h2>
    </a>
</div>

