<div class="estilo">
    <div class="conteudo">
        <div class="cabecalho">
            <img src="../../../assets/images/decorator-left.png" alt="">
            <h1>Estilo</h1>
            <img src="../../../assets/images/decorator-rigth.png" alt="">
        </div>

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                    1 - Old School
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <img src="../../../assets/images/old.png" alt="">
                    <p>O nome em inglês significa “velha escola” e se trata de um estilo de tatuagem mais tradicional. Surgiu nos EUA em 1890, mas se popularizou em 1920. O estilo é caracterizado por linhas grossas e poucas cores, como preto, vermelho, amarelo e verde. Junto com a tattoo oriental, é um dos estilos de tatuagem mais antigos ainda feitos nos dias atuais.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    2 - New School
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>Bastante influenciado pelo estilo old school, mas com algumas diferenças. Ainda há o uso de linhas grossas e bem demarcadas, contudo, as cores na tattoo new school são mais vibrantes e variadas. Outro elemento que caracteriza esse estilo de tatuagem é a representação exagerada do tema tatuado. O estilo surgiu nos EUA em 1970 e é popular em todo o mundo. É comum ver tatuagens de personagens de animações e cultura geek neste estilo.</p>
                    <img src="../../../assets/images/new.png" alt="">
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    3 - Minimalista
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <img src="../../../assets/images/minimalista.png" alt="">
                    <p>Diferente dos estilos de tatuagem anteriores, a tattoo minimalista tem linhas finas e poucos detalhes. Geralmente é feita apenas em preto, mas pode conter uma ou mais cores, mas sempre com características bem minimalistas. Ela pode ser pequena ou grande, desde que seja bem delicada, aspecto que é atribuído pelas linhas finas e com imagens bem precisas. É ideal para frases, palavras ou desenhos delicados como flores e ramos.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    4 - Blackwork
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>Blackwork tattoo é um estilo de tatuagem que utiliza apenas tinta preta, além de linhas bem marcadas e grossas. Além disso, é um tipo de tattoo com imagens bem sólidas, em que partes da figura cobrem a pele toda. Antigamente era feita para cobrir outras tatuagens, mas hoje é um dos estilos de tatuagem mais consolidados no Brasil e no mundo. Pode englobar diferentes estilos, como o old school, desde que seja feito apenas com tinta preta e imagens sólidas.</p>
                    <img src="../../../assets/images/blackwork.png" alt="">
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    5 - Oriental
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <img src="../../../assets/images/oriental.png" alt="">
                    <p>Mesmo no ocidente, a tatuagem conhecida como oriental é um sucesso absoluto. A sua história, contudo, carrega um significado espiritual e cultural, sendo realizada há mais de três mil anos. A sua popularização aconteceu a partir da Segunda Guerra Mundial, momento em que os EUA ocuparam o Japão e passaram a conhecer o método. Desde então, o estilo oriental passou a ser conhecido no ocidente. As técnicas são bastante similares ao estilo old school, com linhas marcadas e poucas cores. O que difere é que símbolos orientais como carpas, dragões, gueixas, entre outros, aparecem nas ilustrações.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    6 - Pontilhismo
                </button>
              </h2>
              <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>Estilo de tatuagem popularizado na década de 90 na Europa, possui inspirações no movimento impressionista, surgido na França no século XIX. A técnica é muito diferente de outros estilos de tatuagem, já que os detalhes de profundidade e preenchimento do desenho são feitos com pequenos pontos. Um trabalho delicado e complexo, que envolve um estudo complexo de luz e sombra. Geralmente é feita apenas em preto.</p>
                    <img src="../../../assets/images/pontilhismo.png" alt="">
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    7 - Geométrica
                </button>
              </h2>
              <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <img src="../../../assets/images/geometrico.png" alt="">
                    <p>As tatuagens geométricas utilizam formas e proporções matemáticas para compôr as figuras. Então, são ilustrações compostas por linhas retas, além de retângulos, triângulos, círculos, entre outras formas. Pode conter outras técnicas em conjunto, como os estilos de tatuagem minimalista e pontilhismo. Geralmente é feita apenas na cor preta, mas pode conter alguns pontos de cor em algumas ilustrações.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    8 - Aquarela
                </button>
              </h2>
              <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>Com inspiração na arte, a aquarela é um estilo de preenchimento de tatuagem. Pode ser feito com muitas cores, sempre vibrantes e no estilo de respingos irregulares sobre a pele. Pode ou não conter contorno e apresenta trechos com fusões de cores para criar o efeito aquarela.</p>
                    <img src="../../../assets/images/aquarela.png" alt="">
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                    9 - Single Line
                </button>
              </h2>
              <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <img src="../../../assets/images/single.png" alt="">
                    <p>Single line significa “única linha” e é um estilo cada vez mais popular. A técnica requer bastante precisão, já que o efeito é como se a tatuagem fosse feita com apenas uma linha. As linhas podem ser finas ou mais espessas, tudo depende do resultado desejado. É um dos estilos de tatuagem que trazem um efeito mais conceitual e artístico. O efeito de dimensão é feito sem preenchimento.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                    10 - Sem Contorno
                </button>
              </h2>
              <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>Um dos estilos de tatuagem mais artísticos, as ilustrações se parecem com verdadeiras pinturas. Neste estilo, o tradicional contorno preto é deixado de lado e apenas as cores são utilizadas. O resultado é delicado e bastante realista. É ideal para retratar folhas, flores, animais e outras representações da natureza.</p>
                    <img src="../../../assets/images/sem.png" alt="">
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingEleven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                    11 - Realista
                </button>
              </h2>
              <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <img src="../../../assets/images/realista.png" alt="">
                    <p>É um estilo de tatuagem em que o resultado é como se fosse uma fotografia. Feita a partir de um estudo minucioso de luz e sombra, é possível retratar figuras de forma bem realista. Como o próprio nome já diz, é um tipo de ilustração que se parece muito com a realidade, o aspecto não é o de ilustração. Ideal para retratar rostos, animais e outros elementos de forma realista. Pode ou não ter cores além do preto.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwoelve">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwoelve" aria-expanded="false" aria-controls="flush-collapseTwoelve">
                    12 - Maori
                </button>
              </h2>
              <div id="flush-collapseTwoelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwoelve" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>Maori é um povo nativo da Nova Zelândia que utiliza as tatuagens como forma de expressar a sua cultura. Seus símbolos tatuados na pele são repletos de significados e informam a qual clã uma pessoa pertence, por exemplo. No ocidente, as tatuagens deste estilo possuem inspiração nos desenhos e isso traz muitas discussões sobre a apropriação cultural. Por isso, antes de fazer uma tattoo neste estilo, que tal se informar mais sobre o assunto?</p>
                    <img src="../../../assets/images/maori.png" alt="">
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading13">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse13" aria-expanded="false" aria-controls="flush-collapse13">
                    13- Ignorant Tattoo
                </button>
              </h2>
              <div id="flush-collapse13" class="accordion-collapse collapse" aria-labelledby="flush-heading13" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <img src="../../../assets/images/ignorant.png" alt="">
                    <p>À primeira vista, as ignorant tattoos parecem mal feitas, mas se trata de um estilo que tem ganhado bastante visibilidade. São desenhos simples, sem uso de muitas cores ou trabalho de luz e sombra. Podem ser imagens de charges, desenhos engraçados e escritas com letras nada alinhadas. Aqui, tudo que é alinhado e convencional é deixado de lado, mas ainda há muita técnica e estudo por trás. O objetivo desse tipo de tattoo é ser divertido e super diferente, não significa de jeito nenhum que os profissionais não sabem o que estão fazendo.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading13">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse14" aria-expanded="false" aria-controls="flush-collapse14">
                    14 - Free Hand
                </button>
              </h2>
              <div id="flush-collapse14" class="accordion-collapse collapse" aria-labelledby="flush-heading14" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">                    
                    <p>Por fim, temos um dos estilos de tatuagem mais criativos, o freehand. Se trata de uma tatuagem que é feita sem decalque, ou seja, o desenho todo ou parte dele é feita diretamente na pele, à mão. A técnica é muito utilizada para detalhes diferentes e mais fluidos ou em desenhos completos mais simples.</p>
                    <img src="../../../assets/images/free.png" alt="">
                </div>
              </div>
            </div>
          </div>
    </div>

</div>
